body {
  font-family: verdana;
  color: purple;
}

h1 {
  color: goldenrod;
}

img {
  float: center;
width: 500px;
  height: 400px;
  border: 3px solid gray;
  /*
  border-style: solid;
  border-size: 3px;
  border-color: solid gray
  CSS is a nice way to save work
  */
}
